* {
	font-family: "Microsoft YaHei";
}

.navbar-inverse .navbar-brand {
	color: #eee;
}

.navbar-inverse .navbar-nav>li>a {
	color: #ddd;
}

.navbar-inverse .navbar-nav>.active>a {
	background: #428BCA;
}

.tree:BEFORE {
	display: inline-block;
	content: "";
	position: absolute;
	top: -20px;
	bottom: 16px;
	left: 0;
	z-index: 1;
	border: 1px dotted #67b2dd;
	border-width: 0 0 0 1px;
}